/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 16:02:29
    Author     : agross
*/

body{
    width: 800px !important;
    border: 1px solid black;
}

.kast .kast-recorder, .kast .kast-viewer{
    float:left;
}

.kast .kast-recorder video{
    height: 188px;
    width: 240px;
}

.kast .kast-viewer canvas{
    width: 560px;
    height: 744px;
}
.kast-viewer-toolbar{
    background-color: #FAFAFA;
}
.kast-viewer-toolbar ul {
    list-style: none;
    clear: both;
}
.kast-viewer-toolbar li{
    display: inline-block;
}
