/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 16:02:29
    Author     : agross
*/

body{
    width: 800px;
    border: 1px solid black;
}

.kast-viewer-toolbar{
    background-color: #FAFAFA;
}
.kast-viewer-toolbar ul {
    list-style: none;
    clear: both;
}
.kast-viewer-toolbar li{
    display: inline-block;
}