/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 16:02:29
    Author     : agross
*/


.kast{
    background-color: #FAFAFA;
    padding: 10px;
}

.kast .kast-recorder, .kast-viewer-toolbar{
    float:left;
}

.kast .kast-viewer canvas{
    box-sizing: border-box;
}
.kast-viewer-toolbar{
    text-align: center;
    padding: 10px;
    height: 145px;
    width: 460px;
}
