/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2015, 16:02:29
    Author     : agross
*/


.kast{
    background-color: #FAFAFA;
    padding: 10px;
}

.kast .kast-recorder, .kast-viewer-toolbar{
    float:left;
}

.kast .kast-viewer canvas{
    box-sizing: border-box;
}
.kast-viewer-toolbar{
    text-align: center;
    padding: 10px;
    height: 145px;
    width: 510px;
}

.kast-viewer-toolbar button{
	background-color: #EEE;
	border: 1px solid #333;
	border-radius: 2px;
}

/* STUDENT */
.kast video{
	width: 240px;
}

.kast.kast-student #kast-record, .kast.kast-student #kast-browse, .kast.kast-student #kast-save{
	display:none;
}
